{% extends "anaboliki/base.html" %}

{% block "content" %}

    {% load static %}

<img src="{% static 'anaboliki/happy_people.jpg'%}" />

<h1>Спортивный портал {%  include "anaboliki/name.html" %}</h1>

<p><b>Серфинг</b><br>
Бол настоящий рай для серферов, а каждый год в мае в Боле проходит мировой конкурс в фристайл. Больше информации о курсу серфинга можете узнать на ресепшне отеля Борак.<br><br>

    <b>Дайвинг</b><br>
Если вы уже опытный ныряльщик или хотите выучить побольше о дайвингу, в Боле находится именно то что вам надо. Больше информации о курсу дайвинга можете узнать на ресепшне отеля Борак.<br><br>

    <b>В отеле Борак:</b><br>
    <ul type="circle">
    <li>Фитнесс центр (Блюсан отель Элафуза)</li>
    <li>Виртуальный гольф - в закрытом помещении гольф симулятор (Блюсан отель Элафуза)</li>
    <li>Прокат велосипедов</li>
    <li>Волейбол на песке</li>
    <li>Водные велосипеды</li>
    <li>Настольный теннис</li></ul>

Теннис центр с 26 земляных кортов, теннис оборудованием и школой тенниса

    <b>Вблизи отеля Борак:</b><br>
<ul type="circle">
    <li>Курс парусного спорта</li>
    <li>Курс дайвинга</li>
    <li>Водяные спорты (водные лыжи, бананы, парашют, джет ски, водяные трубки)</li></p>

{% endblock %}

